# Ignore doc directory
doc

# Ignore OS directory tmp files
.directory 
.DS_Store
                                                                                                                                                    
# Ignore IDEA files                                                                                                                             
.idea                                                                                                                                               

# Ignore Eclipse files
.settings 

# Ignore NetBeans files
nbproject 
 
# Ingnore IB files
#ib/IBJts/*
#ib/IBJts/ib/IBJts/ibgateway.*

# Ignore Java files
.class
/build/
/dist/
/bin/

# Ignore gradle filesa
.gradle

